<%- include("partials/header");-%>
<div class="home">
<img class="image" src="https://www.any.do/v4/images/og-image.png">
<div class="haedingContent">
    <h1 class="headingHome">Welcome to the todolist</h1>
    <h3>Create your own list changing the last part of the link</h3>
</div>

<button class="register" style="margin-top: 100px;" onclick="location.href='/register'" type="button">
    Register</button><button class="login"  onclick="location.href='/login'" type="button">
        Login</button>
    </div>
<%- include("partials/footer");-%>